
  @import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Martel+Sans:wght@600&family=Noto+Sans+Devanagari:wght@100;800&family=Noto+Sans+Kawi:wght@500&family=Open+Sans:wght@300&family=Playpen+Sans:wght@100;200;300&family=Roboto:ital@1&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family:sans-serif
    ;

  
}
.background{
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/a09bb938-2d90-42ae-986e-5a3e4abf9e77/8eb1e781-3494-4aa4-9405-268ca6473e4c/IN-en-20231113-popsignuptwoweeks-perspective_alpha_website_large.jpg);
    height: 110vh;
    position: relative;
    
}
.back{
    background-color: black;
    opacity: 60%;
    height: 110vh;
    width: 100%;
    position: absolute;
    top:0;
    z-index: 0;
}
/* .back nav span{
    z-index:10;
    
    border: 2px solid rgb(255, 255, 255);
} */

.background nav{
    display: flex;
    position: relative;
    top:10px;
    z-index: 15;
    margin: auto;
    width: 80vw;
    justify-content: space-between;
    align-items: center;
}
#drop{
    background-color:rgba(0, 0, 0, 0.212);
    color: white;
    position: relative;
    z-index: 20;
    height: 30px;
    width: 100px;
    font-size: large;
    border-radius: 4px;
    
    
}
.background nav div button{
    height: 30px;
    width: 80px;
    font-size: large;
    background-color: red;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    
}
.laugh h1{
    color:whitesmoke;
    font-weight: 600;
    position: relative;
    z-index: 20;
    top:40vh;
    text-align: center;
    font-size:3rem;
    
}
.laugh p{
    color: white;
    position: relative;
    z-index: 20;
    top: 45vh;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;   
}
#p2{
font-size:1.25rem ;
}
.mail{
    text-align: center;
    position: relative;
    z-index: 20;
    top: 50vh; 
}
.mail input{
    color:red;
    width: 400px;
    font-size: larger;
    height: 50px;
    color: white;
    border-radius: 4px;
    border:none;
    padding-left:10px ;
    background-color: rgba(0, 0, 0, 0.349);
    border: 1px solid white;
    
}
.mail button{
    width: 200px;
    height: 60px;
    background-color:red;
    color: white;
    border-radius: 5px;
    border:none;
    font-size: 1.5rem;
    font-weight: 600;
}
