
.list ul{
    
    
    display: flex;
    
    list-style: none;
    gap: 10px;
    
    font-family: sans-serif;
        
    
}
.logo{
display: flex;


}
nav{
display: flex;
justify-content:space-around; */
gap:500px;
}
.font{
    font-size:3em;
    font-family: sans-serif;
   
   
   
    margin-top: 130px;
    text-align: center;
}
.font2{
    font-size: 1.5em;
    font-family: sans-serif;
    text-align: center;
    margin-top: 20px;
    

}
.anchor{
    display: flex;
    align-items: center;
    justify-content: center;
}
.anchor a{
    display: flex;
    border: 2px solid white;
    background-color: rgb(20, 208, 236);
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
    font-family: sans-serif;
    color:white;
    font-weight: bold;

}
.version{
    display: flex;
  margin-left: 200px;
  gap: 20px;
  align-items: center;
}
.version p{
font-size: 1.5em;
font-family: sans-serif;
display: flex;
}
.flex{
    display: flex;

}

.grid{
    display: grid;
    grid-template-columns: 280px 280px 280px;
    grid-template-rows: 130px 130px ;
    padding: 30px ;
    align-items: center;
    justify-content: center;
    
}



.card{
    background-color:#f5f0f0;
    padding: 5px;
    font-family:sans-serif;
    height: 100px;
    width: 250px;
    text-align: center;
    border-radius: 10px;
    align-items: center;
    display: block;
    margin: 5px;
} 
.blue{
background-color:#00b6d1;
border: none;
border-radius: 5px;
padding: 5px 10px;
font-family: sans-serif;
}
.green{
background-color:#5cb85c;
border: none;
border-radius: 5px;
padding: 5px 15px;
font-family: sans-serif;
}
.card p{
    font-family: sans-serif;
    margin-bottom: 20px;
}
.black-page{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.548);
    font-family: 'Segoe UI';
    text-align: center;
    color: white;
    overflow:hidden;
    flex-wrap: wrap;
    height: 500px;
    padding-left: 60px;
    
}
.news p:first-child{
    font-weight: bold;
    font-size: 1.5em;
}
.emails{
    width: 400px;
    text-align:center;
}

.box{
    
    border: 2px solid black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10px;    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
    padding: 10px 30px;
    height: fit-content;
    width: fit-content;
    
    
}
.box p{
    color: #00b6d1;
    font-size: 1.2em;
    font-weight: bold;
}

.box button{
    height: 50px;
    width: 300px;
    border-radius: 5px;
margin: 5px;
font-size: 1.5em;
background-color: #00b6d1;
}
.MSI{
color: white;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
background-color: rgba(0, 0, 0, 0.548);
padding-left: 200px;
padding-right: 350px;

}
.MSIB{
    font-weight: bold;
    font-size: 1.5em;
}
.grid2{
        display: grid;
        grid-template-columns: 200px 200px 200px 200px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        justify-content: center;
        margin-top: 50px;
}
.button2 input{
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
}
.button2 button{
    background-color:#00b6d1;
    padding: 10px 70px;
    border-radius: 10px;
    font-size: 1em;
    color: white;
    font-weight: bold;
    margin-top: 10px;
    border: none;
}
.last{
display: flex;
justify-content:space-between;

width: 800px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: .7em;
padding: 5px;
margin-top: 40px;}

.fle{

}
.link{
    margin: 5px;

}